body{
background: linear-gradient(to bottom, rgb(177, 186, 230), rgb(142, 184, 223));
}

 h1  {
 


    color: rgb(0, 0, 0);
    text-align: center;
}    
  
  h2 {
      color: rgb(0, 0, 0);
      text-align: center;

}

#investigação{
  color: rgb(0, 0, 0);
}
.imagem {
  margin-left: 40%;
}
