body{
backgrund: linear-gradient(to bottom, rgb(219, 26, 26), rgb(56, 240, 0));
}

 h1  {
 


    color: black;
    text-align: center;
}    
  
  h2 {
      color: black;
      text-align: center;

}

#investigação{
  color: black;
}
